<div class="container">
    <div class="row">
        <div class="col 12">
        <h1>Aeropress</h1>
        <p>La cafetera AeroPress es un dispositivo para preparar café inventado en 2005 por el estadounidense Alan Adler. Su estructura está formada por dos cilindros de plástico que juntos funcionan como una jeringuilla que introduce aire a presión sobre la mezcla de agua y café molido para filtrar el café a través de un filtro de papel o de metal cilíndrico.  Su creador, que también fue el inventor del disco volador Aerobie, creó la AeroPress para acortar el tiempo de infusión del café y reducir así su sabor amargo.</p>
        <img src="assets/img/aeropress.jpg" width="350" height="250"/>
    <p>El funcionamiento de la AeroPress se parece a la cafetera de émbolo o prensa francesa. Para preparar el café hay que verter el agua previamente calentada sobre el café molido, remover durante unos segundos y presionar el émbolo para filtrar la mezcla por la fuerza del aire a presión. El tiempo, las cantidades y la temperatura dependen de uno mismo. Los baristas profesionales recomiendan usar entre 50 y 70 gramos de café por litro de agua y una temperatura de entre 85 y 95 grados. El tiempo de infusión total varía entre 30 y 60 segundos.</p>
    </div>
</div>
</div>

