<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>chemex</h1>
           <p> La Cafetera Chemex es un dispositivo para preparar café como bebida caliente. El diseño característico de la cafetera es del químico e inventor alemán Peter Schlumbohm que en el año 1941 publicó la patente​ A comienzos del siglo XXI la producción continúa y se encuentra bajo propiedad de Chemex Corporation en Pittsfield, Massachusetts. En el año 1958 diseñadores del Instituto de Tecnología de Illinois decidieron que esta cafetera era uno de los mejores diseños de los tiempos modernos incluyéndola en uno de los expositores del Museo de Arte Moderno de Nueva York (MoMA)</p>
                  <img src="assets/img/chemex.jpg" alt="">
                  <p>La cafetera se parece a un matraz de cristal Pyrex con una amplia boca en la parte superior con forma de cono. Sobre el cuello se coloca una arandela de madera que permite asir el recipiente cuando se encuentra caliente. Sobre el cono de la parte superior se coloca primero el filtro de papel arrollado en forma de cono, y sobre él se apila el café molido. Esta cafetera no tiene dispositivo de generación de calor incorporado, es por esta razón por la que resulta necesario calentar el agua aparte. Se suele emplear un calentador de agua, o simplemente un fogón de la cocina. El agua caliente se vierte en la parte superior y se infusiona en el cono, filtrándose por gravedad y cayendo en la parte inferior del recipiente.</p>
        </div>
    </div>
    </div>