<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Cafe</h1>
<h2>que es el cafe</h2>
<p>El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café (cafeto); es altamente estimulante por su contenido de cafeína,1​ una sustancia psicoactiva. Este producto es uno de los más comercializados del mundo y una de las tres bebidas1​ más consumidas del mundo (junto con el agua y el té). Suele tomarse durante el desayuno, después de éste o incluso como único desayuno, aunque también se suele tomar en la merienda, o después del almuerzo o cena para entablar conversaciones o solo por costumbre. Es una de las bebidas sin alcohol más socializadoras en muchos países. El gusto por el café no es espontáneo, sino que debe cultivarse, puesto que su sabor es fuerte y amargo.</p>
<img src="assets/img/cafe.jpg" alt="" width="450" height="250" >

<p>en la actualidad se conoce que hay diferentes ¨metodos¨ para extraer diferentes notas en el cafe ocupanda variables de presion, tiempo, temperratura u oxigenación de el cafe, que destacan diferentes notas de las diferntes tipos de cafe y su extenso proceso antes de poder ser servido de la forma mas elaborada posible, quisiera pues presentarle lo que son para mis metodos de extraccion favoritos <p>
</div>           
</div>
</div>