<div class="container">
    <div class="row">
        <div class="col s12">
            
  <nav>
    <div class="nav-wrapper brown darken-4">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/cafes">Cafes</a></li>
        <li><a routerLink="/chemex">Chemex</a></li>
        <li><a routerLink="/v60">V60</a></li>
        <li><a routerLink="/aeropress">Aeropress</a></li>
      </ul>   
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/cafes">Cafes</a></li>
        <li><a routerLink="/chemex">Chemex</a></li>
        <li><a routerLink="/v60">V60</a></li>
        <li><a routerLink="/aeropress">Aeropress</a></li>
  </ul>
          
        </div>
    </div>
</div>
